{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>    <title>Starting Page</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="">Student Portal</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="">Course Registration</a>
          </li>
        </ul>
        <div class="d-flex" >
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                
                <li class="nav-item">
                  <a href="{% url 'student_logout' %}"><button type="submit"  class="btn btn-primary">Logout</button> </a>
              </li>
            </ul>
          </div>
      </div>
    </div>
  </nav>

  
  


  <form action="{% url 'course_reg_form' %}" method="post">
    <div class="form-floating mb-3" hidden>
      <input type="text" class="form-control" id="floatingInput" placeholder="Joe" name="user_id" value="{{ user_id }}">
      <label for="floatingInput">User ID</label>
    </div>
    <br>
    <br><br>
    <div class="container-fluid" >
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Course ID</th>
            <th scope="col">Course Name</th>
            <th scope="col">Description</th>
            <th scope="col">Select</th>
          </tr>
        </thead>
        <tbody>
        {% for x in all_courses_data %}
            <tr>
                <td>{{ x.course_id }}</td>
                <td>{{ x.course_name }}</td>
                <td>{{ x.description }}</td>
                <td>
                  <input class="form-check-input" type="checkbox" name="course_reg_radios" value="{{ x.course_id }}" checked>
                </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <br><br>
    <center>
      <button type="submit" class="btn btn-warning" value="Register" name="Register">Register</button>
      <button type="submit" class="btn btn-warning" value="Back" name="Back">Back</button>
    </center>
  </form>




</body>
</html>